<div class="card mb-1">
  <div class="card-body">
    <div class="row align-items-center">
      <div class="col-sm-6 col-lg-8">
        <h2><%= link_to topic.title, topic%></h2>
        <p><small>Created <%= topic.created_at.strftime("%d %B %G") %> by <%= link_to topic.user.username, user_path(topic.user)%></small></p>
      </div>
      <div class="col-sm-2 col-lg-1 text-end">
        <%= topic.view %>
        <i class="bi bi-eye-fill"></i>
      </div>
      <div class="col-sm-2 col-lg-1 text-end">
        <%= topic.posts.count %>
        <i class="bi bi-chat-left-fill"></i>
      </div>
      <div class="col-sm-2 col-lg-2">
        <p class="text-end"><small>
        <%= topic.posts.last.updated_at.strftime("%d/%m/%G") %> <br/>
        <%= link_to topic.posts.last.user.username, user_path(topic.posts.last.user)%></small></p>
      </div>
    </div>

  </div>
</div>
