<% content_for :head do %>
  - <%= @user.username %>'s profile
<% end %>
<div class="bg-light p-3">
  <div class="profile row">
    <div class="col-sm-2">
      <% if @user.avatar.attached? %>
        <%= image_tag @user.avatar, :class => "img-fluid rounded" %>
      <% end %>
    </div>
    <div class="col-sm-10">
      <h1><%= @user.username %></h1>
      <p>Member since: <%= @user.created_at.strftime("%d %B %G") %> <br/>
      Posts: <%= @user.posts.count %> <br/>
      
      Last login: <%= time_ago_in_words(@user.last_login) %> ago</p>
      <% if current_user == @user %>
        <%= link_to "Edit", edit_user_path(@user), class: "btn btn-primary btn-outline mt-2 mb-5" %>
      <% end %>
      <% if current_user != @user %>
        <%= link_to "Message", new_user_message_path(@user), class: "btn btn-primary btn-outline mt-2 mb-5" %>
      <% end %>
    </div>
  </div>
</div>

<hr class="my-5" />

<ul class="nav nav-pills my-4" id="pills-tab" role="tablist">

  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="pills-posts-tab" data-bs-toggle="pill" data-bs-target="#pills-posts" type="button" role="tab" aria-controls="pills-posts" aria-selected="false">Post History</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">About</button>
  </li>
  <% if current_user == @user %>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-inbox-tab" data-bs-toggle="pill" data-bs-target="#pills-inbox" type="button" role="tab" aria-controls="pills-inbox" aria-selected="true">Inbox</button>
    </li>
  <% end %>
</ul>
<div class="tab-content mt-3" id="pills-tabContent">
  <div class="tab-pane fade  show active" id="pills-posts" role="tabpanel" aria-labelledby="pills-posts-tab">
    <% unless @user.posts.count == 0 %>
      <%= render partial: "posts/post-thread", collection: @user.posts.last(5), as: :post %>
    <% else %>
      <p>Looks like this user hasn't posted anything.</p>
    <% end %>
  </div>
  <div class="tab-pane fade" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
    <div class="card mt-2">
      <div class="card-body">
        <% if @user.bio %>
          <p><%= @user.bio %></p>
        <% else %>
          <p>This user does not yet have a bio.</p>
        <% end %>
      </div>
    </div>
  </div>
  <% if current_user == @user %>
    <div class="tab-pane fade" id="pills-inbox" role="tabpanel" aria-labelledby="pills-inbox-tab">
      <div class="card mt-2">
        <div class="card-body">
            <% unless @user.inbox.messages.count == 0 %>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Subject</th>
                    <th scope="col">Date</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <%= render @user.inbox.messages.order(created_at: :desc) %>
                </tbody>
              </table>
              
            <% else %>
              <p>No messages.</p>
            <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
