<div class="card mb-1">
  <div class="card-body">
    <div class="row">
      <div class="col-md-4 col-lg-2">
        <% if post.user.avatar.attached? %>
          <%= image_tag post.user.avatar, :class => "img-fluid mb-2" %>
        <% end %>
        <h2>
          <%= link_to post.user.username, user_path(post.user) %>
        </h2>
        <p>Posts: <%= post.user.posts.count %><br/>
        Joined: <%= post.user.created_at.strftime("%d %B %G") %></p>
      </div>
      <div class="col-md-8 col-lg-10">
        <div class="content-spaced">
          <div>
            <% case post.likes.count
              when 0 %>
              <% when 1 %>
                <p class="likes">
                    <%= link_to post.likes.first.user.username, user_path(post.likes.first.user) %> liked this
                </p> 
              <% when 2 %>
                <p class="likes">
                    <% post.likes.first(2).each do |like| %>      
                      <span><%= link_to like.user.username, user_path(like.user) %></span>
                    <% end %> likes this
                </p>
              <% else %>
                <p class="likes">
                    <% post.likes.first(2).each do |like| %>      
                      <span><%= link_to like.user.username, user_path(like.user) %></span>
                    <% end %> and <%= post.likes.count - 2 %> more likes this
                </p>
            <% end %>
            <p>
              <%= post.body %>
            </p>
          </div>
          <div class="text-end">
            <%= button_to 'Like', post_likes_path(post), method: :post, class: "btn btn-sm btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
